.productItems{
transition: transform 0.2s ease-in-out;
}
.productItems:hover{
    transform: scale(1.03);
    font-weight: 700;
    cursor: pointer;
}
.storeCard{
    transition: transform 0.2s ease-in-out;
}
.storeCard:hover{
    transform: scale(1.03);
    cursor: pointer;
border: 1px solid black;
}
.prod-types{
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}
.prod-types:hover{
transform: scale(1.05);
}