input,textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}
.svg-inline--fa{
    cursor: pointer;
}
.fa-trash-can{
    color: red;
    transition: transform .2s ease-in-out;
}
.fa-trash-can:hover{
    transform: scale(1.2);
}