.about__main{
    width:100%;
    background-color: #113C49;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
}

.collab__card{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}