
.footer {
    padding: 2rem 0;
    font-family: "Poppins", sans-serif;
}

.footer .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}

.footer .footer-site-logo a {
    color: #4200ff;
}

.footer .nav-links {
    padding: 0;
    margin: 0;
}

.footer .nav-links li {
    display: inline-block;
}

.footer .nav-links li a {
    padding: 10px;
    color: #000;
}

.footer .nav-links li a:hover {
    color: #4200ff;
}

.footer .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.footer .social ul li {
    display: inline-block;
}

.footer .social ul li a {
    display: inline-block;
    padding: 10px;
}

.footer .social ul li.in a {
    color: #df588a;
}

.footer .social ul li.tw a {
    color: #15b8ff;
}

.footer .social ul li.fb a {
    color: #3742d0;
}

.footer .social ul li.dr a {
    color: #fa38c1;
}

.footer .social ul li.pin a {
    color: #dd4d5a;
}

.footer .copyright {
    color: #ccc; 
    font-size: 12px;
}